@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}


/* Estilos para el archivo navigation-menu.blade */
.icon-hover {
    color: #007BFF; /* Color inicial */
    transition: color 0.5s ease;
}

.icon-hover:hover {
    color: #e2e2e2; /* Color al pasar el cursor */
}


/* Estilos para el archivo index.blade */
.texto-primera-imagen{
    font-weight: 900; 
    font-size: 50px; 
    line-height: normal;
}

.cards-categorias{
    background: #007BFF; 
    border-radius:5px; 
    font-weight:900; 
    font-size:20px;
}

.contenedor-descuentos{
    box-shadow: 0px 4px 4px 0px #00000040;
}

.porcentaje-descuentos{
    color: #007BFF; 
    font-size:90px;
}

/* para el icono del carrito */
.text-neon-green {
    color: #00FF85;
}


/*Estilos para confirm.blade*/


.texto-principal{
    position: absolute;
    width: 80%;
    height: 60px;
    background: rgba(231, 231, 231, 0.6);
    margin-bottom:1rem;
}

/* Barra con circulos */
.progress-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.progress {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: relative;
}

.progress::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    z-index: 1;
    transform: translateY(-50%);
}

.progress-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle {
    background-color:#00FF85;
    color: rgb(29, 29, 29);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
    z-index: 2; 
}

/* Texto de confirmación de datos */
.notification {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 75rem;
    margin: 20px auto;
}

.icon {
    background-color: #00FF85;
    color: black;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 10px;
}

.message {
    flex: 1;
    color: #333;
}

.label {
    text-align: center;
    width: 100px;
}

 



